.ant-modal-header {
  padding: 16px 24px 0 24px;
  color: rgba(0, 0, 0, 0.85);
  background: #fff;
  border-bottom: 0;
  border-radius: 20px;
}

.ant-modal-body {
  padding: 0 24px 24px 24px;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}

.ant-modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-radius: 20px;
  box-shadow:
    0 3px 6px -4px rgb(0 0 0 / 12%),
    0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  pointer-events: auto;
}
